/* CSS declarations go here */
html,body {
    background: #333;
    min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}
.box {
  display: flex;
  flex-flow: column;
}

a.navbar-brand {
	color: #fff !important;
	font-size: 32px;
	font-family: 'Source Code Pro', monospace;
}
.navbar-btn,.selectric-wrapper {
	margin-right: 10px;
}
.selectric-wrapper {
	margin-top: 8px;
}
#codeBox {
	position: relative;
	top: 0;
	left: 0;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	resize: none;
	flex: 1 1 auto;
}

.videoContainer>video {
	width: 300px;
	height: 300px;
	background: #000;
	position: absolute;
}

video#localVideo {
	background: #000;
    z-index: 100000;
    width: 100px;
    height: 100px;
	position: absolute;
    top: 190px;
    right: 10px;
}

#remotesVideos {
    background: black;
	background-size: cover;
	width: 300px;
    height: 300px;
}

.container {
	padding-bottom: 20px;
}
.videoChatWrapper {
	display: none;
	position: fixed;
    z-index: 5;
	background: #000;
    width: 300px;
    height: 300px;
    right: 0;
	bottom: 60px;
}
.videoChatWrapper.fullscreen {
	width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
}
.videoChatWrapper.fullscreen>#remotesVideos,.videoChatWrapper.fullscreen>#remotesVideos>.videoContainer,.videoChatWrapper.fullscreen>#remotesVideos>.videoContainer>video {
	width: 100%;
	height: 100%;
	background: #000;
}
.videoChatWrapper.fullscreen>#localVideo {
	top: 0px;
}
.videoChatWrapper.fullscreen>button {
    position: absolute;
    bottom: 70px;
    left: 10px;
    display: none;
    opacity: 0;
}
.videoChatWrapper.fullscreen>button {
    position: absolute;
    bottom: 70px;
    left: 10px;
    display: none;
    opacity: 0;
}
.videoChatWrapper.fullscreen>button:nth-of-type(2) {
	left: 60px;
}
.videoChatWrapper.fullscreen>button:nth-of-type(3) {
	left: 110px;
}

.videoChatWrapper>button {
    position: relative;
    margin: 0;
    bottom: 53px;
    left: 10px;
	display: none;
	opacity: 0;
}

.videoChatWrapper:hover>button {
	display: inline-block;
	animation: fadeIn 0.4s ease-in-out 0s;
  	animation-fill-mode: forwards; 
}

@keyframes fadeIn {
    from {
		opacity: 0;
	}
    to {
		opacity: 1;
	}
}

.file-upload-box {
	text-align: center;
	padding: 20px;
	width: 100%;
	height: auto;
	border-color: #fff;
	border-style: dashed;
	border-width: 1px;
	cursor: pointer;
}
#files {
	margin: 0 auto;
	display: none;
}
h3 {
	margin-top: 21px;
    margin-bottom: 21px;
    line-height: 32px;
	font-family: 'Source Code Pro', monospace;
}

h1 {
	font-family: 'Source Code Pro', monospace;
	font-size: 48px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

h1>small {
	font-family: 'Source Code Pro', monospace;
	color: #fff;
}
h3.help-text>small {
	color: #fff;
}

#navbar-img {
	height: 100%;
	display: inline-block;
	margin-top: -6px;
    padding-right: 10px;
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
	background-color: #13987e !important;
}

/**
 * Flexible Google-style progress indicator
 */

@keyframes progress {
	50% { border-width: .5em 0; }
	to { border-width: .5em 0 0 0; }
}

@keyframes rotate {
	to { transform: rotate(-270deg); }
}

.progress {
	display: inline-block;
	font-size: 50px; /* Size of the progress indicator */
	width: 1em; height: 1em;
	border: solid white;
	border-top-color: #ddd;
	border-width: 0 0 .5em 0;
	border-radius: 50%;
	box-sizing: border-box;
	margin: .1em .2em;
	background: linear-gradient(white 50%, #ddd 50%);
	background-origin: border-box;
	transform: rotate(90deg);
	animation: rotate 1s steps(4) infinite,
	           progress .25s linear infinite alternate;
	text-indent: 99em;
	overflow: hidden;
}

.progress.small { font-size: 16px }
.progress.large { font-size: 100px }
.progress.large.phonecall {
	position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
	animation: rotate 2s steps(4) infinite,
	           progress .5s linear infinite alternate;
}

.centered {
	margin: 25vh auto 0 auto;
}

.navbar-brand {
	cursor: pointer;
}

.sweet-alert>button.confirm {
    background: rgba(24, 188, 156, 1) !important;
}
.sweet-alert>button.confirm:hover {
    background: rgb(22, 159, 132) !important;
}

.navbar-inverse,.btn-success.btn-block,.upload-groupcode.file-upload-box {
	background: rgb(24, 188, 156);
	
    border-radius: 5px;
}
.navbar-inverse {
   	margin-bottom: 0px;
    flex: 0 1 60px;
    border-radius: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(24, 188, 156);
    color: #fff;
}
.btn-success:hover,.upload-groupcode.file-upload-box:hover {
	background: rgb(24, 188, 156);
}

*:not(#codeBox) {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}

*:focus {
  outline: none !important;
}

.section-img {
	background: url(placeit3.jpg);
    background-size: cover;
    background-position: center center;
	min-height: 100vh;
	overflow: hidden;
}
.mini-img {
	width:100%;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.37);
}
.section-bg {
	box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.37);
	background: rgb(24, 188, 156);
}

p {
	color: white;
}

p.footer {
	line-height: 20px;
	padding: 35px;
}
 

/* Cards */
.card {
	background: rgb(255, 255, 255);
    color: rgb(81, 80, 80) !important;
    text-align: left;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 0;
	overflow: hidden;
	margin-bottom: 20px;
	transform: translateY(1000px);
	animation: slideIn 0.5s ease-out;
	animation-fill-mode: forwards;
}

.col-md-6.col-md-offset-3:nth-of-type(2)>.card {
	animation-delay: 0.1s;
}

.col-md-6.col-md-offset-3:nth-of-type(3)>.card {
	animation-delay: 0.2s;
}

.col-md-6.col-md-offset-3:nth-of-type(4)>.card {
	animation-delay: 0.3s;
}

.col-md-6.col-md-offset-3:nth-of-type(5)>.card {
	animation-delay: 0.4s;
}

.col-md-6.col-md-offset-3:nth-of-type(6)>.card {
	animation-delay: 0.5s;
}

.col-md-6.col-md-offset-3:nth-of-type(7)>.card {
	animation-delay: 0.6s;
}

/* Card Images */
.card>.mini-img {
	box-shadow: none;
}

/* Card Text */
.card>h2,.card>p {
	color: inherit !important;
	padding: 0px 30px 20px 30px;
}
.card>h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 28px;
	margin-top: 0px;
	padding: 30px 30px 10px 30px;
}


/* Formats Card Buttons */
.card>.btn-group>button:active,.card>.btn-group>.btn.btn-success:hover {
	background: #efefef !important;
}

.card>.btn-group>.btn.btn-success {
    width: 50%;
    margin: 0 auto;
	
	border-radius: 0;
    border: 1px solid #eee;
    background: rgb(255, 255, 255);
    color: rgb(24, 188, 156);
    font-weight: bold;
    font-size: 16px;
    padding: 15px 30px;
	
}

.card>.btn-group>.btn.btn-success:last-of-type {
	border-left: 0;
}

@keyframes slideIn {
	from { transform: translateY(1000px) }
	to   { transform: translateY(0px) }
}

/***********************************************************************/
ul.tabs-list {
    padding: 5px 5px 0  5px;
    margin: 10px 0 -5px 0;
    background: rgba(0,0,0,0.5);
    color: white;
    box-shadow: 5px 0 5px black;
    overflow-y: hidden;
    overflow-x: auto;
	
	flex: 0 1 auto;
	flex-direction: row;
}

.basicTabs-container .tabs-content-container, .dynamicTabs-container .tabs-content-container {
    border-top: 0px !important;
	padding: 0;
}

.basicTabs-container ul.tabs-list li.tab-item, .dynamicTabs-container ul.tabs-list li.tab-item {
    background: rgb(51, 51, 51);
    min-width: 150px;
    line-height: 20px;
    font-size: 14px !important;
    border-radius: 5px 5px 0 0;
	border: 0;
    height: 40px;
	margin: 5px 2px 0 2px;
}
.basicTabs-container ul.tabs-list li.tab-item:last-of-type, .dynamicTabs-container ul.tabs-list li.tab-item:last-of-type {
	min-width: 20px !important;
    width: 40px;
    text-align: center;
    font-weight: bold !important;
	margin-bottom: -5px;
    padding-top: 10px;
	border-radius: 0 5px 0 0;
}

.basicTabs-container ul.tabs-list li.tab-item:hover, .dynamicTabs-container ul.tabs-list li.tab-item:hover {
    background: #555;
	border: 0;
    transition: background 0.2s;
}

.basicTabs-container .tabs-list .tab-item.active, .dynamicTabs-container .tabs-list .tab-item.active,
.basicTabs-container .tabs-list .tab-item.active:hover, .dynamicTabs-container .tabs-list .tab-item.active:hover {
    border-radius: 5px 5px 0 0;
	border: none;
    margin-bottom: 0 !important;
    background-color: rgb(30, 181, 151);
    color: white;
	font-weight: bold;
	font-size: 16px !important;
}

li.tab-item {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.tabs-content-container, .tabs-content, .flexContainer {
	flex: 1 1 auto;
    display: flex !important;
    flex-direction: column;
}

.navbar-fixed-top {
    top: -46px;
    transition: top 0.5s;
	z-index: 10;
}
.navbar-fixed-top:hover {
	top: 0;
	transition: top 0.5s;
}
nav.navbar.navbar-inverse.navbar-fixed-top>* {
    opacity: 0;
    transition: opacity 0.5s;
}

nav.navbar.navbar-inverse.navbar-fixed-top:hover>* {
    opacity: 1;
    transition: opacity 0.5s;
}

/*** ACE OVERRIDES ***/
input.ace_search_field {
    color: rgb(0, 0, 0);
}
.ace-twilight .ace_marker-layer .ace_selection {
    background: rgb(30, 181, 151, 0.5) !important;
}

.ace-twilight .ace_comment {
    color: rgb(30, 181, 151) !important;
}
.ace-twilight .ace_string {
    color: rgb(185, 255, 0) !important;
}
.ace-twilight .ace_keyword, .ace-twilight .ace_meta, .ace-twilight .ace_list, .ace-twilight .ace_markup.ace_list, .ace-twilight .ace_storage {
    color: rgb(0, 193, 255) !important;
}
.ace-twilight .ace_entity.ace_name.ace_function, .ace-twilight .ace_meta.ace_tag, .ace-twilight .ace_variable {
    color: rgb(255, 255, 255) !important;
}